:global {
  .navbar {
    border-radius: 0;
  }

  .no-margin-bottom {
    margin-bottom: 0;
  }

  .page-header {
    h3 {
      margin-top: 0;
    }
  }

  .btn + .btn {
    margin-left: 5px;
  }
}
